.TargetedTemperature{
    font-size: 100px;
    font-weight: bold;
}

.CurrentTemperature{
    font-size: 24px;
    font-weight: 500;
}

#SVG_BOX{
    display: flex;
    flex-flow: row wrap;
}

.flexbox{
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
}